{% extends "base.html" %} {% block content %}
<div class="container my-4">
  <div class="card shadow-sm border-0">
    <div class="card-header text-center bg-white border-0">
      <h4 class="fw-bold"><span class="text-primary">Chezzion</span> WMS</h4>
    </div>

    <div class="card-body">
      <!-- Core Warehouse -->
      <h6 class="fw-bold mt-3">Core Warehouse</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'truck_landing' %}" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-warehouse"></i> Yard Check-In </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'batch_product' %}" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-upload"></i> RF Stock Upload </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'add_purchase' %}" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-truck"></i> RF Receiving by PO </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/kitting/" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-layer-group"></i> RF Kitting Based on Operations </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/dispatch/" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-truck-ramp-box"></i> RF Dispatch </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/hu-repack/" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-boxes-stacked"></i> RF Intelligent HU Repack </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/bin-to-bin/" class="btn btn-tile btn-blue w-100"> <i class="fa-solid fa-cubes"></i> RF Bin to Bin </a>
        </div>
      </div>

      <!-- Integration -->
      <h6 class="fw-bold mt-3">Integration</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-4 col-sm-6">
          <a href="/mes-integration/" class="btn btn-tile btn-green w-100"> <i class="fa-solid fa-diagram-project"></i> MES Integration </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/pick-to-light/" class="btn btn-tile btn-green w-100"> <i class="fa-solid fa-lightbulb"></i> Pick to Light </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/agv-integration/" class="btn btn-tile btn-green w-100"> <i class="fa-solid fa-robot"></i> AGV Integration </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/palletizer-integration/" class="btn btn-tile btn-green w-100"> <i class="fa-solid fa-box"></i> Palletizer Integration </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/rfid-integration/" class="btn btn-tile btn-green w-100"> <i class="fa-solid fa-rss"></i> RFID Integration </a>
        </div>
      </div>

      <!-- Dashboard -->
      <h6 class="fw-bold mt-3">Dashboard</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-4 col-sm-6">
          <a href="/stock-in-bin/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-box-open"></i> Stock In Bin </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/mission-task/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-bullseye"></i> Mission Task </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/work-package/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-briefcase"></i> Work Package </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/quality-usage/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-vial"></i> Quality Usage </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/pallet-floor-space/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-pallet"></i> Pallet Floor Space </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/container-management/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-box-archive"></i> Container Management </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/weather-management/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-cloud-sun"></i> Weather Management </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/batch-management/" class="btn btn-tile btn-orange w-100"> <i class="fa-solid fa-layer-group"></i> Batch Management </a>
        </div>
      </div>

      <!-- Background AI -->
      <h6 class="fw-bold mt-3">Background AI</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-4 col-sm-6">
          <a href="/reorg-hu-stock-of-inventory/" class="btn btn-tile btn-purple w-100">
            <i class="fa-solid fa-dolly"></i> Reorganization of Handling Unit Stock
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/picking-task-creation-for-costly-sku/" class="btn btn-tile btn-purple w-100">
            <i class="fa-solid fa-gears"></i> Picking Task Creation for Costly SKU
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/reorg-empty-pallets-using-agv/" class="btn btn-tile btn-purple w-100">
            <i class="fa-solid fa-recycle"></i> Reorganization of Empty Pallets Using AGV
          </a>
        </div>
      </div>

      <!-- Delivery Integration -->
      <h6 class="fw-bold mt-3">Delivery Integration</h6>
      <div class="row g-3">
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'purchase_list' %}" class="btn btn-tile btn-teal w-100"> <i class="fa-solid fa-file-invoice"></i> Purchase Orders </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'sales_order_list' %}" class="btn btn-tile btn-teal w-100"> <i class="fa-solid fa-handshake"></i> Sales Orders </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/sto-stock-transfer-order/" class="btn btn-tile btn-teal w-100">
            <i class="fa-solid fa-arrows-turn-to-dots"></i> STO Stock Transfer Order
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/bill-of-lading/" class="btn btn-tile btn-teal w-100"> <i class="fa-solid fa-file-contract"></i> Bill Of Lading </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/production-order/" class="btn btn-tile btn-teal w-100"> <i class="fa-solid fa-industry"></i> Production Order </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="/pallet-labels/" class="btn btn-tile btn-teal w-100"> <i class="fa-solid fa-barcode"></i> Pallet Labels </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
