{% extends "base.html" %}
{% block content %}



<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto ">
        <div class="card p-4">
            <div class="sap-header bg-light" style="font-size: 24px; font-style: italic; padding: 10px;"><b>SAP</b></div>
            
                <div class="card-body">
                    <h5><img src="https://staging.chezzion.com/static/assets/img/logo-icon.png" width="50"
                            alt="SAP logo"></h5>
                    <div class="form-group">
                        <label for="warehouse">Src HU</label>
                        <input type="text" class="form-control" id="hu" >
                    </div>
                    

                    <div class="d-flex justify-content-between mt-4">
                        <button class="btn btn-secondary btn-sap">F7 Back</button>
                        <button class="btn btn-secondary btn-sap">Enter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}