{% extends "base.html" %}

{% block content %}
   <div class="container mt-5">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5><img src="https://staging.chezzion.com/static/assets/img/logo-icon.png" width="50" alt="SAP logo"></h5>
                    <div class="form-group  ">
                        <div class="warning">
                            <p class="text-danger">
                                I:PSA BIN ::013 GMST01A6
                            </p>
                        </div>
                        <button class="btn btn-secondary btn-sap mt-2">Enter</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}