{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="col-md-6 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5>Chezzion</h5>
                </div>
                <div class="card-body">
                    <h5><img src="https://staging.chezzion.com/static/assets/img/logo-icon.png" width="50"
                            alt="SAP logo"></h5>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black">01 System
                        Guided</button>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black">02 Manual
                        Selection</button>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black">03 Inbound
                        process</button>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black">04 Outbound
                        process</button>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black"> 05 Internal
                        Process</button>
                    <button class="btn btn-tertiary bg-light m-2 w-100" style="border:1px solid black"> 06 Warehouse</button>

                    <div class="form-group d-flex gap-2 mt-4">
                        <label for="warehouse">Menu</label>
                        <input type="text" class="sm-form-control" id="hu" >
                        
                    </div>
                    
                    <div class="d-flex flex-wrap justify-content-center mt-4 gap-2">
                        <button class="btn btn-secondary btn-sap">F1 Logoff</button>
                        <button class="btn btn-secondary btn-sap">F3 Enter</button>
                        <button class="btn btn-secondary btn-sap">F7 Back</button>
                    </div>
                </div>
            </div>
        </div>  
{% endblock %}