{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto ">
        <div class="card p-4">
            <div class="sap-header bg-light" style="font-size: 24px; font-style: italic; padding: 10px;"><b>SAP</b></div>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">01 Rec. HU by Delivery</button>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">02 Rec. HU by Shipment</button>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">03 Rec. HU by TU</button>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">04 Rec. HU by ASN</button>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">05 Rec. HU by Door</button>
                    <button class="btn  btn-tertiary bg-light m-2 w-100" style="border:1px solid black">06 Rec. HU by Manufacturing Order</button>

                    <div class="form-group d-flex gap-2 mt-4">
                        <label for="warehouse">Menu</label>
                        <input type="text" class="sm-form-control" id="hu" >
                       
                    </div>
                    
                    <div class="d-flex flex-wrap justify-content-center mt-4 gap-2">
                        <button class="btn btn-secondary btn-sap">F1 Logoff</button>
                        <button class="btn btn-secondary btn-sap">F3 Enter</button>
                        <button class="btn btn-secondary btn-sap">F7 Back</button>
                    </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}



