{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto ">
        <div class="card p-4">
            <div class="sap-header bg-light" style="font-size: 24px; font-style: italic; padding: 10px;"><b>SAP</b></div>
                <div class="card-body">
                    
                    <div class="form-group">
                        <label for="warehouse">Warehouse No.</label>
                        <input type="text" class="form-control" id="warehouse" placeholder="Enter warehouse number">
                    </div>
                    <div class="form-group">
                        <label for="resource">Resource</label>
                        <input type="text" class="form-control" id="resource" placeholder="Resource Number">
                    </div>
                    <div class="form-group">
                        <label for="device">Device</label>
                        <input type="text" class="form-control" placeholder="device" value="RF">
                    </div>

                    <a href="#" class="btn btn-success mt-5 text-center"><i class="fa-solid fa-check"></i></a>
                    <a href="#" class="btn btn-danger mt-5 text-center"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}