{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto ">
        <div class="card p-4">
            <div class="sap-header bg-light" style="font-size: 24px; font-style: italic; padding: 10px;"><b>SAP</b></div>


    <table class="table table-bordered text-center mt-3">
      <thead>
        <tr>
          <th>Product</th>
          <th>Batch</th>
          <th>Qty/Unt</th>
          <th>Customer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" value="DDR028"></td>
          <td><input type="text" value="0000003098"></td>
          <td><input type="text" value="5"></td>
          <td><input type="text" value="PCS"></td>
          <td><input type="text" value="40DE"></td>
        </tr>
        
      </tbody>
    </table>

   

    <div class="d-flex justify-content-between mt-4">
        <a href="{% url 'eight1' %}" class="btn btn-secondary" >F7 BACK</a>
        <button class="btn btn-secondary">ENTER</button>
    </div>       
  
</div>
{% endblock %}


