{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto ">
        <div class="card p-4">
            <div class="sap-header bg-light" style="font-size: 24px; font-style: italic; padding: 10px;"><b>SAP</b></div>
            <h5 class="text-center mb-4 mt-3">Truck check-in and Check-out</h5>
            <div class="mb-3 row">

                <label class="col-sm-4 col-form-label">Truck No</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Truck Type</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Latch</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Driver name</label>
                <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
            </div>
                <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Driver Phn number</label>
                <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Scan Yard</label>
                <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Dispatch date</label>
                <div class="col-sm-8 d-flex">
                    <input type="text" class="form-control">
                 
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Dispatch time</label>
                <div class="col-sm-8 d-flex">
                <input type="text" class="form-control">
                
                </div>
            </div>


            <div class="d-flex justify-content-between mt-4">
                <a class="btn btn-secondary" >F7 BACK</a>
                <a href="{% url 'two' %}" class="btn btn-secondary" >F2 PQC</a>
                <a class="btn btn-secondary">F3 TKST</a>
                <a class="btn btn-secondary">F4 CKIN</a>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-secondary">F5 CKOUT</button>
                <a href="{% url 'three' %}" class="btn btn-secondary" >F6 ADOD</a>
                <button class="btn btn-secondary">ENTER</button>
                <a href="{% url 'four' %}" class="btn btn-secondary" >LOAD</a>
            </div>
        </div>
    </div>    
</div>

{% endblock %}