{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card shadow-lg">
            <div class="card-header bg-light text-center">
                <h5 class="text-center mb-4 mt-3"><i class="fa-solid fa-truck-front"></i> Truck Inspection
                </h5>
            </div>
            <div class="card-body">
                {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {% for q in questions %}
    <div class="mb-3">
        <label class="form-label">
            <i class="fa-solid fa-question-circle me-2 text-primary"></i> {{ q.text }}
        </label>
        <div>
            <label class="me-3">
                <input type="radio" name="question_{{ q.id }}" value="Yes" required> Yes
            </label>
            <label>
                <input type="radio" name="question_{{ q.id }}" value="No" required> No
            </label>
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button> 
</form>
</div>
        </div>
    </div>
</div>
{% endblock %}
