{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="card-header text-center text-white bg-primary">
                <h3>Add Picking</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

             
                    <div class="form-group">
                        <label><b>ID</b></label>
                        <input type="text" class="form-control" value="Auto Generates" readonly>
                    </div>

                    <!-- Pallet dropdown -->
                    <div class="form-group">
                        <label for="pallet"><b>Pallet</b></label>
                        {{ form.pallet }}
                    </div>

                  
                    <!-- Location -->
                    <div class="form-group">
                        <label for="location"><b>Location</b></label>
                        {{ form.location }}
                    </div>

                      <!-- Product dropdown -->
                    <div class="form-group">
                        <label for="product"><b>Product</b></label>
                        {{ form.product }}
                    </div>

                    <!-- Quantity -->
                    <div class="form-group">
                        <label for="quantity"><b>Quantity</b></label>
                        {{ form.quantity }}
                    </div>

                    <!-- Picking Type -->
                    <div class="form-group">
                        <label for="picking_type"><b>Picking Type</b></label>
                        {{ form.picking_type }}
                    </div>

                    <!-- Status -->
                    <div class="form-group">
                        <label for="status"><b>Status</b></label>
                        {{ form.status }}
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
