{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0">Edit Picking</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_pallet" class="form-label fw-semibold">Pallet</label>
                        <input type="text" name="pallet" id="id_pallet" value="{{ form.pallet.value }}" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_created_by" class="form-label fw-semibold">Created By</label>
                        <input type="text" name="created_by" id="id_created_by" value="{{ form.created_by.value }}" class="form-control"required>
                    </div>

                    <div class="mb-3">
                        <label for="id_location" class="form-label fw-semibold">Location</label>
                        <input type="text" name="location" id="id_location" value="{{ form.location.value }}" class="form-control"required>
                    </div>

                    <div class="mb-3">
                        <label for="id_product" class="form-label fw-semibold">Product</label>
                        <input type="text" name="product" id="id_product" value="{{ form.product.value }}" class="form-control"required>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label fw-semibold">Quantity</label>
                        <input type="text" name="quantity" id="quantity" value="{{ form.quantity.value }}" class="form-control"required>
                    </div>

                    
                    <div class="form-group">
                        <label for="status"><b>Status</b></label>
                        <select id="status" name="status" class="form-control" required>
                            <option value="In Progress">In Progress</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                        </select>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success px-4">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
