{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="card-header text-center text-white bg-primary">
                <h3>Edit Putaway Task</h3>
            </div>
            <div class="card-body">
                <form method="post" class="form-group">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label"><b>Putaway ID</b></label>
                        <input type="text" name="putaway_id" value="{{ putaway.putaway_id }}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><b>Pallet</b></label>
                        <input type="text" name="pallet" value="{{ putaway.pallet }}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label"><b>Location</b></label>
                        <input type="text" name="location" value="{{ putaway.location }}" class="form-control">
                    </div>

                   <!-- Putaway Task Type Dropdown -->
<div class="mb-3">
    <label class="form-label"><b>Putaway Task Type</b></label>
    <select name="putaway_task_type" id="taskType" class="form-control">
        <option value="Putaway by HU" {% if putaway.putaway_task_type == "Putaway by HU" %}selected{% endif %}>Putaway by HU</option>
        <option value="Putaway by Warehouse" {% if putaway.putaway_task_type == "Putaway by Warehouse" %}selected{% endif %}>Putaway by Warehouse</option>
        <option value="Putaway by Product" {% if putaway.putaway_task_type == " Putaway by Product" %}selected{% endif %}>Putaway by Product</option>
        <option value="Putaway by Bin" {% if putaway.putaway_task_type == "Putaway by Bin" %}selected{% endif %}>Putaway by Bin</option>
    </select>
</div>


                    <div class="mb-3">
                        <label class="form-label"><b>Status</b></label>
                        <input type="text" name="status" value="{{ putaway.status }}" class="form-control">
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a href="{% url 'putaway_pending' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
