{% extends "base-login.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-11 col-sm-8 col-md-6 col-lg-4 text-center">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-4">
                <i class="fa-solid fa-circle-check fa-3x text-success mb-3"></i>
                <h4>Password Reset Successful</h4>
                <p class="text-muted">Your password has been set. You can now log in.</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                    <i class="fa-solid fa-right-to-bracket me-1"></i> Go to Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}