{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card-header bg-primary text-white text-center">
            <h3 class="">Edit Packing Material</h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                 <div class="form-group mb-3">
                        <label for="material" class="form-label"><b>Material</b></label>
                    <input type="text" class="form-control" id="p_mat" name="material" value="{{ material.p_mat }}" required>
                </div>

                    <div class="form-group mb-3">
                        <label for="description" class="form-label"><b>Description</b></label>
                    <textarea class="form-control" id="description" name="description" rows="3"required>{{ material.description }}</textarea>
                </div>

                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
